<div class="p-5 mb-4 bg-body-tertiary rounded-3 mt-4">
  <h1 class="display-4">Notes App with NodeJS and Mongo DB</h1>
  <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse saepe illo iure sapiente, repellendus sequi assumenda rerum ipsum beatae quidem dolores aliquid ducimus placeat et porro libero ab, exercitationem odio.</p>
  <a href="https://cesarmeza.com" class="btn btn-primary btn-lg">c3M3Z4</a>
</div>